body{
    color: blue;
    overflow: hidden;
    margin:0px;
}

div.tooldiv {
    background-color: black;
    padding:1px;
    & p {
        margin:10px;
        
        color: white;
        font-family: helvetica, sans-serif;
    }
}